<div class="animated fadeIn">
  <div class="card card-block card-outline-primary ">
    <h4 class="card-title">Customers</h4>
    <p class="card-text">McGill AirPressure takes pride in designing and manufacturing high-quality autoclaves for its many customers. The following
      is a select sample of our growing list of autoclave customers. (Please contact us for a complete customer list.)</p>
    <hr>
    <div class="col-xs-12 p-1">
      <div class="text-xs-left">
        <b>Partial customer list:</b>
        <ul>
          <li>Abbott Laboratories</li>
          <li>Aldrich Chemical Company, Incorporated</li>
          <li>American Cyanamid Company</li>
          <li>American Home Products</li>
          <li>Ayerst Organics, LTD.</li>
          <li>B.F. Goodrich</li>
          <li>B.I. Chemicals</li>
          <li>Boehringer-Mannheim</li>
          <li>Branson Ultrasonics</li>
          <li>Bristol-Myers Squibb Company</li>
          <li>Buckman Laboratories</li>
          <li>CAE Blackstone</li>
          <li>Ciba Specialty Chemicals</li>
          <li>Crucible Compaction Metals, Inc.</li>
          <li>DuPont</li>
          <li>Eastman Kodak Company</li>
          <li>ElectroMec</li>
          <li>Eli Lilly & Company</li>
          <li>Fisher Scientific</li>
          <li>Flour-Daniel, Inc.</li>
          <li>Furon-Bristol</li>
          <li>GD Searle</li>
          <li>General Electric</li>
          <li>Gencorp Aerojet</li>
          <li>Hart Engineering</li>
          <li>Hauser, Inc.</li>
          <li>Hitachi</li>
          <li>Kemet Electronics</li>
          <li>Leaf Confections</li>
          <li>Lonza, Inc.</li>
          <li>M&M Mars</li>
          <li>Mallinckrodt, Incorporated</li>
          <li>Monsanto</li>
          <li>NYCOMED</li>
          <li>Nutrasweet</li>
          <li>Olin Winchester</li>
          <li>Penna Pressed Metal</li>
          <li>Pfizer, Incorporated</li>
          <li>Phillips Petroleum</li>
          <li>Polaroid</li>
          <li>polyOrganix</li>
          <li>Ricerca, Incorporated</li>
          <li>Roche-Carolina</li>
          <li>Salsbury Chemicals, Incorporated</li>
          <li>Schering-Plough, Corporation</li>
          <li>Schutz-Werke Gmbh</li>
          <li>Schweizerhall Manufacturing Co.</li>
          <li>Sectional Stamping</li>
          <li>Shipley</li>
          <li>Simmonds Precision</li>
          <li>Southwest Analytical</li>
          <li>St. Jean Photochemical</li>
          <li>Stone Safety</li>
          <li>Syntex, Incorporated</li>
          <li>Torcan Chemical</li>
          <li>Union Carbide</li>
          <li>Westinghouse</li>
          <li>Xerox Corporation</li>
          <li>Zeeland Chemical</li>
        </ul>
      </div>
    </div>
  </div>
</div>