<div class="animated fadeIn">
    <tabset>
        <tab heading="Pilot Testing Service">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Vacuum Dryer Pilot Testing Service</h4><br />
                <div class="col-xs-12 col-md-6 card-text">
                    <p>We can help you find the right vacuum dryer for your application.</p>
                    <p>McGill AirPressure's vacuum dryer pilot testing service can help you find the best way to dry any type of heat-sensitive material. We can run a test program to determine the feasibility of using a vacuum dryer for your process. With our pilot testing service, you can see our vacuum drying equipment in action and find out how your material reacts under actual drying conditions.</p>
                    <p>This service does away with guesswork involved in selecting and sizing the proper vacuum dryer. It will give you the data needed to make a confident choice about a full-size vacuum drying system for your application.</p>
				</div>
				<div class="col-xs-12 col-md-6">
					<figure class="mcgill-picture">
						<img src="assets/img/vd-pilot.jpg">
						<figcaption class="media-body">
							<i>With our pilot testing service, you can see our vacuum drying equipment in action and find out how your material reacts under actual drying conditions.</i>
						</figcaption>
					</figure>
				</div>	
				<div class="col-xs-12 card-text">
					<a href="assets/literature/pilot.pdf" target="_blank">Pilot Testing Service Literature</a>
				</div>
            </div>
		</tab>
        <tab heading="Types of Dryers">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Types of Dryers</h4><br />
                <div class="col-xs-12 card-text">
					<p>Vacuum dryers are indirect-heated, batch-type systems that remove moisture by using reduced pressure. A low level of heat is supplied during the drying process to replace heat lost through vaporization. Our test facility has a full line of vacuum drying equipment: </p>
					<ul>
						<li>Shelf Dryer</li>
						<li>Rotary Dryer</li>
						<li>Conical Dryer</li>
						<li>Chamber Dryer</li>
						<li>Chamber/Rotary Dryer</li>
					</ul>
					<p>We will help you select a dryer that is suitable for your material. Then we can customize it with the appropriate auxiliary equipment to approximate the full-size drying system that you would use for processing.</p>
				</div>
            </div>
		</tab>
        <tab heading="Testing Service">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Testing Service</h4><br />
                <div class="col-xs-12 col-md-6 card-text">
					<p>McGill AirPressure's service technicians have extensive experience with vacuum drying systems. By combining our knowledge of vacuum drying equipment with your understanding of your material and processing needs, we can provide the following test services.</p>
					<p><b>Developing Test Programs</b><br />After discussing your drying needs, we can work with you to develop a test program that will give you meaningful results. The tests will be designed to provide data that will enable you to size a full-scale vacuum drying system. We can make recommendations about test variables such as vacuum level, temperature, drying time, batch size, desired moisture reduction, and turning speed (for rotary and conical dryers).</p>
					<p><b>Evaluating Test Programs</b><br />If you have your own test program planned, we can evaluate it to make sure it is scaled to our drying equipment. We can suggest any changes that might be needed to produce valid test results.</p>
				</div>
				<div class="col-xs-12 col-md-6">
					<figure class="mcgill-picture">
						<img src="assets/img/vd-beaker.jpg">
						<figcaption class="media-body">
							<i>We work with you to develop the most efficient and economical solution for your material drying needs; this is done without obligation. When available, our pilot dryers can be rented for testing at the customer's facility.</i>
						</figcaption>
					</figure>
				</div>	
                <div class="col-xs-12">
					<p><b>Setting Up Equipment</b><br />We can customize our test facility's vacuum drying equipment for your test program. That means supplying any auxiliary equipment needed to meet your vacuum, heating, or solvent recovery requirements.</p>
					<p><b>Performing Tests</b><br />Our technicians will operate the vacuum drying system for your tests. Their expertise with the equipment ensures that the tests wil be run properly and safely. We can perform the actual tests or help your personnel perform them. That includesany special handling, measuring, or loading of the material being tested. We can also record test data such as vacuum level, temperature, drying time, and moisture reduction (weight before and after drying).</p>
					<p><b>Documentation</b><br />If you desire, we can write a report based on the raw data from the tests. We can document whether the tests met your stated goals and draw conclusions about the validity of using a full-size dryer for your process. If the test results are not satisfactory, we can recommend further testing with a different type of drying equipment or different test parameters.</p>
				</div>
			</div>
		</tab>		
	</tabset>
</div>