<div class="animated fadeIn">
    <tabset>
        <tab heading="Overview">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Autoclave Rebuilds and Upgrades</h4><br />
                <div class="col-xs-12 col-md-6 card-text">
                    <p>McGill AirPressure offers complete rebuild service and upgrades for all types of autoclaves. We provide corrosion repair, vessel enlargement, heat source modification, and the addition of auxiliary systems. This work can be performed at our plant or on site under our supervision.</p>
                    <p>Our commitment to safety extends to all pressure vessels that we service. We have a three-stage safety system designed to prevent an autoclave's door from opening when the unit is pressurized. This system includes a warning whistle, a manual lock, and an electro-pneumatic lock pin. Standard equipment on our newer units, it exceeds current ASME safety requirements</p>
					<p>To reduce the possibility of an accident, we recommend having a safety system installed on all pressurized equipment</p>
					<a href="assets/literature/rebuild.pdf" target="_blank">Rebuilds & Upgrades Literature (Click)</a>
				</div>
				<div class="col-xs-12 col-md-6">
					<figure class="mcgill-picture">
						<img src="assets/img/ac-rebuild.jpg">
						<figcaption class="media-body">
							<i>Replacement hinge</i>
						</figcaption>
					</figure>
				</div>	
            </div>
		</tab>
        <tab heading="Doors">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Autoclave Door Rebuilds</h4><br />
                <div class="col-xs-12 col-md-6 card-text">
					<p>The door is the largest single moving part of an autoclave and also one of the most expensive parts to fabricate.</p>
					<p>McGill AirPressure rebuilds autoclave doors to like-new condition to provide years of additional service. Rebuilding an existing door can be done for much less than the cost of a replacement door.</p>
					<p>Most rebuilds consist of repairing the worn or damaged door, vessel locking lugs and lock rings, and repairing or replacing worn wedges. We update door operating cylinders, mechanisms, and controls as part of the rebuild. The rebuild can occur either at our plant or at your site.</p>
				</div>
				<div class="col-xs-12 col-md-6">
					<figure class="mcgill-picture">
						<img src="assets/img/ac-doors.jpg">
						<figcaption class="media-body">
							<i>McGill AirPressure can rebuild your autoclave door to like-new condition to provide many additional years of service. </i>
						</figcaption>
					</figure>
				</div>	
            </div>
		</tab>
        <tab heading="Safety Systems">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Safety Systems</h4><br />
                <div class="col-xs-12 col-md-6 card-text">
					<p>Operating equipment that uses high pressures and temperatures demands proper safety procedures and equipment. This is especially true of pressure vessels with quick-opening doors: autoclaves, sterilizers, reactors, and vulcanizers. Opening the door of a pressure vessel can cause injuries to workers, damage to equipment, and downtime.</p>
					<p>Considering what an accident can cost your workers and your company, it pays to be as safe as possible.</p>
					<p><b>Three-Stage Safety</b><br />McGill AirPressure is dedicated to producing dependable equipment that is as safe as possible. Safety considerations are an important part of our design and product improvement efforts. One product improvement is a three-stage safety system for pressure vessel doors. This system is designed to exceed current ASME code requirements. In the system, a warning whistle, a manual lock, and an electro-pneumatic lock work together to help prevent the door from being accidentally opened when the vessel is pressurized.</p>
					<p><b>Manual Lock</b><br />The manual lock safety consists of a lever, valve, whistle, and limit switches. The valve is connected to the interior of the pressure vessel. Before the vessel can be pressurized, the door must be completely closed so that the lever can be closed. Until the lever is in place, the valve remains open. Any pressure in the vessel is vented through the open valve, sounding the whistle as a warning.</p>
					<p>The lever open and closed limit switches operate as an electrical interlock with a control system, door operating system, or secondary safety device. Once the lever is in the closed position and the valve is closed, a limit switch indicates that the door is secure and ready for pressurizing.</p>
					<p>A pressure gauge is located near the lock pin so that the pressure inside the vessel can be monitored constantly. When the pressure vessel's cycle has been completed, the safety system sounds a loud warning if the door's lever is moved to the open position before the pressure has been vented out.</p>
					<p><b>Electro-Pneumatic Lock</b><br />The electro-pneumatic lock safety consists of an air cylinder, solenoid valve, limit switch, lock pin, and dual zero-pressure switch. This second line of defense is designed for use with the manual lock, receiving signals from the manual lever's limit switches. The electro-pneumatic pin is engaged only when the manual lever's closed limit switch has been tripped and the zero-pressure switch indicates that the vessel has been depressurized.</p>
				</div>
				<div class="col-xs-12 col-md-6">
					<figure class="mcgill-picture">
						<img src="assets/img/ac-safety.jpg">
						<figcaption class="media-body">
							<i>Our comprehensive safety system includes the manual lock safety, the electro-pneumatic lock pin, zero-pressure switch, whistle, and pressure gauge, all working together to help you prevent accidental door opening during autoclave pressurization</i>
						</figcaption>
					</figure>
					<figure class="mcgill-picture">
						<img src="assets/img/ac-safety2.jpg">
						<figcaption class="media-body">
							<i>Also available is our original safety system consisting of a manual lock, and electro-pneumatic lock pin, whistle, and pressure gauge.</i>
						</figcaption>
					</figure>
				</div>	
            </div>
		</tab>
        <tab heading="Vacuum Systems">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Vacuum Systems</h4><br />
                <div class="col-xs-12 col-md-6 card-text">
					<p>McGill AirPressure provides free-standing, rack-mounted Vacuum Systems including vacuum pumps, source lines, sense lines, resin traps, valves, and gauges. These systems are easier to maintain and can be more conveniently located than most existing autoclave-mounted systems.</p>
					<p>We build these systems using your existing components, if they are in good working condition, provide a completely new system, or provide a combination of both.</p>
					<p>Smaller systems can be packaged on a single skid. Larger systems can be packaged on two skids with the vacuum pumps separate.</p>
				</div>
				<div class="col-xs-12 col-md-6">
					<figure class="mcgill-picture">
						<img src="assets/img/ac-vacuum.jpg">
						<figcaption class="media-body">
							<i>Vacuum pump (typical)</i>
						</figcaption>
					</figure>
					<figure class="mcgill-picture">
						<img src="assets/img/ac-vacuum2.jpg">
						<figcaption class="media-body">
							<i>Vacuum source / vent manifold assembly</i>
						</figcaption>
					</figure>
					<figure class="mcgill-picture">
						<img src="assets/img/ac-vacuum3.jpg">
						<figcaption class="media-body">
							<i>Vacuum sense lines</i>
						</figcaption>
					</figure>
				</div>	
            </div>
		</tab>
	</tabset>
</div>