<div class="animated fadeIn">
    <tabset>
        <tab heading="Overview">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Complete Autoclave Service Program</h4><br />
                <div class="col-xs-12 col-md-6 card-text">
                    <p>McGill AirPressure offers a complete service program to repair, maintain, and refurbish autoclaves. We help you maintain productivity and keep your entire system operating safely and efficiently. We work to get your equipment back in production fast when something goes wrong.</p>
                    <p>Inspection contracts are available to help meet insurance needs and comply with government regulations</p>
					<p>You can depend on our experience with pressurized equipment. We have been designing, manufacturing, and installing pressure vessels since 1960.</p>
					<p>Our service expertise covers all types of autoclaves:</p>
						<ul>
							<li>Bonding Autoclaves</li>
							<li>Tire Presses</li>
							<li>Vulcanizing and Rubber Curing Autoclaves</li>
							<li>Glass Laminating Autoclaves</li>
							<li>Dewaxing Autoclaves</li>
							<li>Digesters</li>
							<li>Impregnating Autoclaves</li>
							<li>Medical Waste Sterilizing Autoclaves</li>
						</ul>					
					<a href="assets/literature/repair.pdf" target="_blank">Repair, Maintenance and Inspection Literature (Click)</a><br />
					<a href="assets/literature/dewax.pdf" target="_blank">Dewaxing Autoclave Literature (Click)</a>
				</div>
				<div class="col-xs-12 col-md-6">
					<figure class="mcgill-picture">
						<img src="assets/img/ac-service.jpg">
						<figcaption class="media-body">
							<i>McGill AirPressure offers complete repair and inspection services for pressure vessels.</i>
						</figcaption>
					</figure>
				</div>	
            </div>
		</tab>
        <tab heading="Inspection & Preventive Maintenance">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Autoclave Inspection and Preventive Maintenance</h4><br />
                <div class="col-xs-12 col-md-6 card-text">
					<p>Spotting problems before they become emergencies is the best way to avoid losing production time. Our technicians perform thorough inspections of your equipment's pressure, vacuum, hydraulic, heating, cooling, auxiliary, and control systems.</p>
					<p>We provide complete field service reports, detailing any problems with the maintenance or operation of your equipment, and recommend specific solutions. If repairs are needed, we perform the work you authorize.</p>
					<p>Inspection contracts are available to help you meet your insurance needs and comply with government regulations.</p>
					<p>McGill AirPressure's inspections and repair work are governed by a comprehensive quality assurance program. Our standard inspection process involves checking for corrosion and other signs that a vessel's wall is deteriorating.</p>
					<p>We use ultrasonic thickness testing and hydrotesting equipment to verify that the vessel is safe to operate.</p>
					<p>Every modification to a pressure shell must be certified to meet ASME Pressure Vessel Code standards. Our experienced welding technicians have ASME, U, and R stamp certifications.</p>
					<p>We perform radiographic testing to ensure the integrity of welds made during the service call and any welds not on the original drawings.</p>
				</div>
				<div class="col-xs-12 col-md-6">
					<figure class="mcgill-picture">
						<img src="assets/img/ac-inspection.jpg">
						<figcaption class="media-body">
							<i>We offer a full range of inspection services.</i>
						</figcaption>
					</figure>
				</div>	
            </div>
		</tab>
        <tab heading="Emergency Repair">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Emergency Autoclave Repair Service</h4><br />
                <div class="col-xs-12 col-md-6 card-text">
					<p>When your production is held up by a pressure vessel problem, McGill AirPressure can get you back in operation quickly. After working to clear up the immediate trouble, we can test your equipment to make sure the entire system is operating properly.</p>
				</div>
				<div class="col-xs-12 col-md-6">
					<figure class="mcgill-picture">
						<img src="assets/img/ac-repair.jpg">
						<figcaption class="media-body">
							<i>Our service personnel can get you back in operation quickly.</i>
						</figcaption>
					</figure>
				</div>	
            </div>
		</tab>
        <tab heading="Door Alignment">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Autoclave Door Alignment</h4><br />
                <div class="col-xs-12 col-md-6 card-text">
					<p>McGill AirPressure provides door alignment service to keep your autoclave door functioning properly. This helps prevent costly repairs necessitated by the continued operation of a misaligned autoclave door.</p>
					<p>Our service staff are experts in the alignment of many different door configurations, and they will get your equipment back in production quickly and safely.</p>
				</div>
				<div class="col-xs-12 col-md-6">
					<figure class="mcgill-picture">
						<img src="assets/img/ac-align.jpg">
						<figcaption class="media-body">
							<i>To keep your equipment operating safely and efficiently, we can realign your autoclave's door.</i>
						</figcaption>
					</figure>
				</div>	
            </div>
		</tab>
	</tabset>
</div>