<div class="animated fadeIn">
    <tabset>
        <tab heading="Overview">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Autoclaves</h4><br />
                <div class="col-xs-12 col-md-6 card-text">
                    <p><b>McGill AirPressure makes a wide range of sizes and types of autoclaves, from economical standard units to the largest and most customized in the world.</b></p>
                    <p>These ASME-rated pressure vessels with quick-opening access doors are designed to apply vacuum, heat, and pressure in a controlled environment. They provide the atmosphere needed to manufacture many of today's space-age composite materials.</p>
                    <p>We supply autoclave systems for many applications, including bonding composites such as polyamides.</p>
                    <p>We have the technical capabilities to design a system that will perform your process reliably, quickly, and inexpensively.</p>
                    <p>These industrial, ASME-code-certified pressure vessels with quick-opening access doors are designed to apply vacuum, heat, and pressure in a controlled environment, providing the atmosphere needed to manufacture many of today's space-age composite materials.</p>
                    <p>Since 1960, McGill AirPressure has supplied major companies around the world with pressure vessels and autoclave systems for bonding composites such as polyamides, laminating glass, curing and vulcanizing rubber, digesting pulp and paper, dewaxing investment castings, and enriching and processing uranium.</p>
                    <p>Complete, integrated systems are our specialty. We manufacture systems that handle pressures up to 2,000 psig and temperatures up to 1,200°F. We have experience in building extremely large autoclaves on site.</p>
                    <p>McGill AirPressure manufactures four standard sizes of autoclave systems that can be supplied with control panel, vacuum pump, and all necessary valves and instrumentation, and be pre-wired and pre-piped to save installation time.</p>
                    <p>These standard units are supplied more quickly and at a lower cost than custom autoclave systems. Our standard models include our Mini-Bonders™ for small-scale production or research and development.</p>
                    <p>Whatever size autoclave you require, McGill AirPressure has the technical capabilities to design a system that will perform the bonding process reliably, quickly, and inexpensively.</p>
				</div>
				<div class="col-xs-12 col-md-6">
					<figure class="mcgill-picture">
						<img src="assets/img/ac-inspect.jpg">
						<figcaption class="media-body">
							<i>McGill AirPressure engineers perform a final inspection on an 8-foot-diameter by 30-foot-long high-pressure hose vulcanizer prior to shipping it to a major manufacturer in the midwest.</i>
						</figcaption>
					</figure>
					<figure class="mcgill-picture">
						<img src="assets/img/ac-nolimit.jpg">
						<figcaption class="media-body">
							<i>Our manufacturing capabilities are not limited by the size of our plant. We have experience in field construction to build extremely large autoclaves on site.</i>
						</figcaption>
					</figure>
					<figure class="mcgill-picture">
						<img src="assets/img/ac-large.jpg">
						<figcaption class="media-body">
							<i>The same autoclave, which has a 25-foot diameter by 90 foot long workspace, at a later stage of construction.</i>
						</figcaption>
					</figure>		
				</div>	
				<div class="col-xs-12 card-text">
					<a href="assets/literature/systems.pdf" target="_blank">Our Systems Approach Creates Greater Value (Click for Products PDF)</a>
				</div>
            </div>
		</tab>
        <tab heading="Composite Bonding">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Composite Bonding Autoclaves</h4><br />
                <div class="col-xs-12 col-md-6 card-text">
                    <p>Many industrial processes require properly controlled conditions of heat, pressure, and/or vacuum to cause physical and chemical changes in a material to be treated. These conditions are created and controlled within enclosed vessels generally called autoclaves.</p>
					<p>Autoclaves for specialized functions or industries are often called by other names: Vulcanizers, Devulcanizers, Heater Presses and Tire Curing Presses in the rubber industry; Globe Digesters in the pulp, paper, and minerals industries; Sterilizers and Hyperbaric Chambers in medicine; Pressure Cookers in the food industry; and Laminators and Bonding Autoclaves in the automotive and aircraft industries.</p>
					<p>As Impregnators, they are used for putting one material into another, such as preservatives into wood; for treating paper pulp tubes and porous castings; and for insulation of electrical cable.</p>
					<p>Autoclaves are used as chemical reactors and for chemical synthesis in various industries. Autoclaves vary in size—from the household pressure cooker and compact sterilizing units used in laboratories and hospitals to a tire curing press that can produce tires 17 feet (5,180 mm) in diameter.</p>
					<p>The pressure vessel is only part of the autoclaving process. Sophisticated equipment is required for instrumentation and valving, as well as for convenient materials handling and proper supply and application of process heat, pressure and/or vacuum and adequate process control.</p>
					<p>McGill AirPressure specializes in supplying integrated autoclave systems to meet the specific needs of processing industries. We design, engineer, manufacture, and install the largest and most advanced autoclave systems in the world. Complete packaged units include pressure vessels, quick-opening doors, heating, cooling, and air circulation systems, provision for materials handling, instrumentation, and completely automated process cycling.</p>
				</div>
				<div class="col-xs-12 col-md-6">
					<figure class="mcgill-picture">
						<img src="assets/img/ac-prodsize.jpg">
						<figcaption class="media-body">
							<i>McGill AirPressure offers complete turnkey systems, including design and fabrication, expert installation and startup service, and on-site operator training.</i>
						</figcaption>
					</figure>
					<figure class="mcgill-picture">
						<img src="assets/img/ac-prodsize2.jpg">
						<figcaption class="media-body">
							<i>Sophisticated equipment is required for instrumentation and valving, as well as for convenient materials handling and proper supply and application of process heat, pressure and/or vacuum and adequate process control.</i>
						</figcaption>
					</figure>
				</div>	
				<div class="col-xs-12 card-text">
					<a href="assets/literature/prod.pdf" target="_blank">Composite Bonding Autoclave Literature (Click)</a>
				</div>
				<div class="col-xs-12 card-text">
					<a href="assets/literature/prodfull.pdf" target="_blank">Full-Scale Bonding Autocave Literature (Click)</a>
				</div>
            </div>
		</tab>		
        <tab heading="Mini-Bonder™">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Mini-Bonder™ Autoclaves</h4><br />
                <div class="col-xs-12 col-md-6 card-text">
					<p>At the time of its introduction in 1983, the Mini-Bonder was the first standardized small autoclave available for research and small-scale production. McGill has now incorporated modern design and manufacturing techniques into the new Mini-Bonder 21 and 36 models, offering larger internal workspace and better performance at lower cost.</p>
					<p>Key Benefits:</p>
					<ul>
						<li>Lower initial cost and reduced operating and maintenance costs</li>
						<li>Versatility of production and bonding capabilities</li>
						<li>Internals arranged to provide the largest workspace possible</li>
					</ul>
					<p>Each Mini-Bonder autoclave system is supplied completely assembled, piped, and wired with the same rugged features and sophisticated processing controls as our large-scale autoclaves, offering years of trouble-free operation.</p>
				</div>
				<div class="col-xs-12 col-md-6">
					<figure class="mcgill-picture">
						<img src="assets/img/ac-mini.jpg">
						<figcaption class="media-body">
							<i>Mini-Bonder autoclaves can be customized for a variety of applications.</i>
						</figcaption>
					</figure>
				</div>	
				<div class="col-xs-12">
					<p>Four standard models are available:</p>

					<table cellpadding=5>
						<thead>
							<tr>
								<td rowspan="2">Model</td>
								<td rowspan="2">Workspace Dimensions<br />(inches)</td>
								<td rowspan="2">Maximum Operating<br />Pressure (psig)</td>
								<td rowspan="2">Maximum Operating<br /> Temperature (°F)*</td>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Mini-Bonder 21</td>
								<td>21 x 15 x 36</td>
								<td>150</td>
								<td>450</td>
							</tr>
							<tr>
								<td>Mini-Bonder 21 HP</td>
								<td>21 x 15 x 36</td>
								<td>270</td>
								<td>700</td>
							</tr>
							<tr>
								<td>Mini-Bonder 36</td>
								<td>36 x 28 x 48</td>
								<td>150</td>
								<td>450</td>
							</tr>
							<tr>
								<td>Mini-Bonder 36 HP</td>
								<td>36 x 28 x 48</td>
								<td>270</td>
								<td>700</td>
							</tr>
						</tbody>
							<tfoot>
								<tr>
									<td colspan="4">*Custom pressure and temperature ratings are also available.</td>
								</tr>
							</tfoot>						
					</table>
					<br />
					<p>All Mini-Bonder autoclaves include the following standard features:</p>
					<ul>
						<li>Pneumatically operated quick-opening door</li>
						<li>Vacuum system including vacuum pump</li>
						<li>Internal cooling coil</li>
						<li>Incoloy sheathed heating elements</li>
						<li>PLC-based autoclave control system or PC interface</li>
					</ul>
					<p>Mini-Bonder autoclave systems are not only used for bonding. You can also test materials and processes or do limited-production work at a fraction of the cost using a larger autoclave. Mini-Bonders can easily perform a variety of applications:</p>
					<ul>
						<li>Composite materials bonding<ul><li>graphite-to-epoxy</li><li>honeycomb structural</li><li>glass-to-metal</li></ul></li>
						<li>Glass laminating</li>
						<li>Printed circuit board laminating</li>
						<li>Sterilizing</li>
						<li>Rubber curing and vulcanizing</li>
					</ul>
					<p>The Mini-Bonder is the perfect solution for small-scale production, when the size and expense of a full-size autoclave is not justified. It offers the same processing capabilities as our full-size systems but in a smaller package and at a lower cost. It allows you to bond, cure, and laminate a wide array of materials economically in small quantities.</p>
				</div>
				<div class="col-xs-12 card-text">
					<a href="assets/literature/mini.pdf" target="_blank">Mini-Bonder® Autoclave Literature (Click)</a>
				</div>
            </div>
		</tab>		

	</tabset>
</div>