<div class="animated fadeIn">
    <tabset>
        <tab heading="Overview">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Autoclaves</h4><br />
                <div class="col-xs-12 col-md-6 card-text">
                    <p><b>McGill AirPressure makes a wide range of sizes and types of autoclaves, from economical standard units to the largest and most customized in the world.</b></p>
                    <p>Since 1960, McGill AirPressure has supplied major companies around the world with pressure vessels and autoclave systems for bonding composites such as polyamides, laminating glass, curing and vulcanizing rubber, digesting pulp and paper, dewaxing investment castings, and enriching and processing uranium.</p>
                    <p>These industrial, ASME-code-certified pressure vessels with quick-opening access doors are designed to apply vacuum, heat, and pressure in a controlled environment, providing the atmosphere needed to manufacture many of today's space-age composite materials.</p>
                    <p>Complete, integrated systems are our specialty. We manufacture systems that handle pressures up to 2,000 psig and temperatures up to 1,200°F. We have experience in building extremely large autoclaves on site.</p>
                    <p>McGill AirPressure also manufactures four standard sizes of laboratory autoclave systems that can be supplied with control panel, vacuum pump, and all necessary valves and instrumentation, and be pre-wired and pre-piped to save installation time.</p>
                    <p>These standard units are supplied more quickly and at a lower cost than custom autoclave systems. Our standard models include our Mini-Bonders™ for small-scale production or research and development.</p>
                    <p>Whatever size autoclave you require, McGill AirPressure has the technical capabilities to design a system that will perform the bonding process reliably, quickly, and inexpensively.</p>
				</div>
				<div class="col-xs-12 col-md-6">
					<figure class="mcgill-picture">
						<img src="assets/img/ac-inspect.jpg">
						<figcaption class="media-body">
							<i>McGill AirPressure engineers perform a final inspection on an 8-foot-diameter by 30-foot-long high-pressure hose vulcanizer prior to shipping it to a major manufacturer in the midwest.</i>
						</figcaption>
					</figure>
					<figure class="mcgill-picture">
						<img src="assets/img/ac-nolimit.jpg">
						<figcaption class="media-body">
							<i>Our manufacturing capabilities are not limited by the size of our plant. We have experience in field construction to build extremely large autoclaves on site.</i>
						</figcaption>
					</figure>
					<figure class="mcgill-picture">
						<img src="assets/img/ac-large.jpg">
						<figcaption class="media-body">
							<i>The same autoclave, which has a 25-foot diameter by 90 foot long workspace, at a later stage of construction.</i>
						</figcaption>
					</figure>		
				</div>	
				<div class="col-xs-12 card-text">
					<a href="assets/literature/systems.pdf" target="_blank">Our Systems Approach Creates Greater Value (Click for Products PDF)</a>
				</div>
            </div>
		</tab>
        <tab heading="Composite Bonding">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Composite Bonding Autoclaves</h4><br />
                <div class="col-xs-12 col-md-6 card-text">
                    <p>Many industrial processes require properly controlled conditions of heat, pressure, and/or vacuum to cause physical and chemical changes in a material to be treated. These conditions are created and controlled within enclosed vessels generally called autoclaves.</p>
					<p>Autoclaves for specialized functions, or industries, are often called by other names: Vulcanizers, Devulcanizers, Heater Presses and Tire Curing Presses in the rubber industry; Globe Digesters in the pulp, paper, and minerals industries; Sterilizers and Hyperbaric Chambers in medicine; Pressure Cookers in the food industry; Laminators and Bonding Autoclaves in the automotive and aircraft industries.</p>
					<p>As Impregnators, they are used for combining one material into another, such as injecting preservatives into wood; for treating paper pulp tubes and porous castings; and for insulation of electrical cable.</p>
					<p>Autoclaves are also used as chemical reactors and for chemical synthesis in various industries. Autoclaves vary in size—from the household pressure cooker and compact sterilizing units used in laboratories and hospitals, to tire curing presses that can produce tires 17 feet (5,180 mm) in diameter.</p>
					<p>The pressure vessel is only part of the autoclaving process. Sophisticated equipment is required for instrumentation and valving, as well as for convenient material PLC based handling and proper supply and application of process heat, pressure and/or vacuum through process control.</p>
					<p>McGill AirPressure specializes in supplying integrated autoclave systems to meet the specific needs of processing industries. We design, engineer, manufacture, and install the largest and most advanced autoclave systems in the world. Complete packaged units include pressure vessels, quick-opening doors, heating, cooling, and air circulation systems, provision for materials handling, instrumentation, and completely automated process cycling and trending for a permanent record of your process.</p>
					<a href="assets/literature/prod.pdf" target="_blank">Composite Bonding Autoclave Literature (Click)</a>
					<a href="assets/literature/prodfull.pdf" target="_blank">Full-Scale Bonding Autocave Literature (Click)</a>
				</div>
				<div class="col-xs-12 col-md-6">
					<figure class="mcgill-picture">
						<img src="assets/img/ac-prodsize.jpg">
						<figcaption class="media-body">
							<i>McGill AirPressure offers complete turnkey systems, including design and fabrication, expert installation and startup service, and on-site operator training.</i>
						</figcaption>
					</figure>
					<figure class="mcgill-picture">
						<img src="assets/img/ac-prodsize2.jpg">
						<figcaption class="media-body">
							<i>Sophisticated equipment is required for instrumentation and valving, as well as for convenient materials handling and proper supply and application of process heat, pressure and/or vacuum and adequate process control.</i>
						</figcaption>
					</figure>
					<figure class="mcgill-picture">
						<img src="assets/img/ac-nasa.jpg">
					</figure>
					<figure class="mcgill-picture">
						<img src="assets/img/carlex.jpg">
					</figure>
				</div>	
            </div>
		</tab>		
        <tab heading="Mini-Bonder™">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Mini-Bonder™ Autoclaves</h4><br />
                <div class="col-xs-12 col-md-6 card-text">
					<p>At the time of its introduction in 1983, the Mini-Bonder was the first standardized small autoclave available for research and small-scale production. McGill has now incorporated modern design and manufacturing techniques into the new Mini-Bonder 21 and 36 models, offering larger internal workspace and better performance at lower cost.</p>
					<p>Key Benefits:</p>
					<ul>
						<li>Lower initial cost and reduced operating and maintenance costs</li>
						<li>Versatility of production and bonding capabilities</li>
						<li>Internals arranged to provide the largest workspace possible</li>
					</ul>
					<p>Each Mini-Bonder autoclave system is supplied completely assembled, piped, and wired with the same rugged features and sophisticated processing controls as our large-scale autoclaves, offering years of trouble-free operation.</p>
				</div>
				<div class="col-xs-12 col-md-6">
					<figure class="mcgill-picture">
						<img src="assets/img/ac-mini.jpg">
						<figcaption class="media-body">
							<i>Mini-Bonder autoclaves can be customized for a variety of applications.</i>
						</figcaption>
					</figure>
				</div>	
				<div class="col-xs-12">
					<p>Four standard models are available:</p>

					<table cellpadding=5>
						<thead>
							<tr>
								<td rowspan="2">Model</td>
								<td rowspan="2">Workspace Dimensions<br />(inches)</td>
								<td rowspan="2">Maximum Operating<br />Pressure (psig)</td>
								<td rowspan="2">Maximum Operating<br /> Temperature (°F)*</td>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Mini-Bonder 21</td>
								<td>21 x 15 x 36</td>
								<td>150</td>
								<td>450</td>
							</tr>
							<tr>
								<td>Mini-Bonder 21 HP</td>
								<td>21 x 15 x 36</td>
								<td>270</td>
								<td>700</td>
							</tr>
							<tr>
								<td>Mini-Bonder 36</td>
								<td>36 x 28 x 48</td>
								<td>150</td>
								<td>450</td>
							</tr>
							<tr>
								<td>Mini-Bonder 36 HP</td>
								<td>36 x 28 x 48</td>
								<td>270</td>
								<td>700</td>
							</tr>
						</tbody>
							<tfoot>
								<tr>
									<td colspan="4">*Custom pressure and temperature ratings are also available.</td>
								</tr>
							</tfoot>						
					</table>
					<br />
					<p>All Mini-Bonder autoclaves include the following standard features:</p>
					<ul>
						<li>Pneumatically operated quick-opening door</li>
						<li>Vacuum system including vacuum pump</li>
						<li>Internal cooling coil</li>
						<li>Incoloy sheathed heating elements</li>
						<li>PLC-based autoclave control system or PC interface</li>
					</ul>
					<p>Mini-Bonder autoclave systems are not only used for bonding. You can also test materials and processes or do limited-production work at a fraction of the cost using a larger autoclave. Mini-Bonders can easily perform a variety of applications:</p>
					<ul>
						<li>Composite materials bonding<ul><li>graphite-to-epoxy</li><li>honeycomb structural</li><li>glass-to-metal</li></ul></li>
						<li>Glass laminating</li>
						<li>Printed circuit board laminating</li>
						<li>Sterilizing</li>
						<li>Rubber curing and vulcanizing</li>
					</ul>
					<p>The Mini-Bonder is the perfect solution for small-scale production, when the size and expense of a full-size autoclave is not justified. It offers the same processing capabilities as our full-size systems but in a smaller package and at a lower cost. It allows you to bond, cure, and laminate a wide array of materials economically in small quantities.</p>
				</div>
				<div class="col-xs-12 card-text">
					<a href="assets/literature/mini.pdf" target="_blank">Mini-Bonder® Autoclave Literature (Click)</a>
				</div>
            </div>
		</tab>		
        <tab heading="Medical Waste">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Medical Waste Sterilizing (MWS) Autoclaves</h4><br />
                <div class="col-xs-12 col-md-6 card-text">
					<p>Autoclaving is a proven sterilization method that provides an economical solution to medical waste disposal problems. Using an autoclave to sterilize your facility's medical waste avoids environmental problems associated with incineration and eliminates the expense of disposing of untreated medical wastes off-site.</p>
					<p>An MWS autoclave offers lower initial and operating costs than other waste treatment options and excludes the need for pollution control equipment. By safely and effectively sterilizing medical waste, an MWS autoclave enables you to dispose of your facility's waste economically at a landfill.</p>
					<p>McGill AirPressure's MWS series of autoclaves is designed for sterilizing medical wastes, infectious waste, and other materials. The MWS series features a breach-lock door with an air-energized gasket that extends the door's working life. Key-lock control prevents unauthorized personnel from changing cycle parameters.</p>
					<p>A low-profile track makes it easy for workers to load and unload the autoclave. Multi-stage safeties are designed to prevent accidents during normal autoclave operation. External insulation maintains comfortable working conditions for operators.</p>
					<p>Our engineering and manufacturing team works with you to provide an economical and dependable steam sterilizing autoclave for your medical waste. We have been designing and fabricating autoclaves since 1960 and are certified by the American Society of Mechanical Engineers.</p>
					<p>In addition to supplying standard autoclaves, we can custom design a sterilizer to meet the specific needs of your facility. We have options for including a total waste disposal system, complete with shredders, grinders for sharps, carts, and cart dumpers.</p>
				</div>
				<div class="col-xs-12 col-md-6">
					<figure class="mcgill-picture">
						<img src="assets/img/ac-med.jpg">
						<figcaption class="media-body">
							<i>McGill AirPressure's MWS autoclaves are designed to provide a safe and economical way to sterilize medical waste.</i>
						</figcaption>
					</figure>
					<figure class="mcgill-picture">
						<img src="assets/img/ac-med2.jpg">
						<figcaption class="media-body">
							<a href="assets/literature/medwastdiag.pdf" target="_blank">View Diagram PDF (Click)</a>		
						</figcaption>
					</figure>
				</div>	
				<div class="col-xs-12 card-text">
					<a href="assets/literature/med.pdf" target="_blank">The MWS Series Literature (Click)</a>
				</div>
            </div>
		</tab>		
        <tab heading="VPI Systems">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Vacuum Pressure Impregnating (VPI) Systems & Equipment</h4><br />
                <div class="col-xs-12 col-md-6 card-text">
					<p>Vacuum pressure impregnation is a proven method for completely eliminating corona-causing voids in electric motor windings by filling the air spaces of porous or void-containing materials with a resinous dielectric material.</p>
					<p>Vacuum pressure impregnation is increasingly selected over the multiple dip-and-bake method for rewinds because VPI is better suited to handle the increasing size of electrical apparatus; the trend toward higher voltage and temperature ratings; and needs for greater chemical, solvent, and moisture resistance.</p>
					<p>McGill AirPressure engineers draw from extensive experience to design and build the optimum equipment package with properly sized, high-quality vacuum systems; resin storage and handling equipment; and process control instrumentation. We develop service shop VPI systems for the electric motor repair industry that are used to impregnate motors, generators, transformers, switchgear, condensers, and other components.</p>
					<p>A typical McGill AirPressure vacuum pressure impregnating system consists of an impregnator, storage tank, vacuum source, vacuum and transfer valves, and piping.</p>
					<p>The systems may be horizontal or vertical. They feature quick-opening covers. Working diameters range from 2 to 15 feet. Any length may be specified. Systems can be automated to meet your requirements.</p>
					<p>McGill AirPressure makes it easy for new users to perform vacuum pressure impregnating—without installation and operating guesswork. We are there at start-up for troubleshooting, and we give operators hands-on training.</p>
					<a href="assets/literature/vpi.pdf" target="_blank">Vacuum Pressure Impregnating Literature (Click)</a>
				</div>
				<div class="col-xs-12 col-md-6">
					<figure class="mcgill-picture">
						<img src="assets/img/ac-impmotor.jpg">
						<figcaption class="media-body">
							<i>We develop service shop VPI systems for the electric motor repair industry that are used to impregnate motors, generators, transformers, switchgear, condensers, and other components</i>
						</figcaption>
					</figure>
					<figure class="mcgill-picture">
						<img src="assets/img/ac-imp.jpg">
						<figcaption class="media-body">
							<i>McGill AirPressure's impregnating systems are custom designed and fabricated to meet each customer's individual needs.</i>		
						</figcaption>
					</figure>
					<figure class="mcgill-picture">
						<img src="assets/img/ac-imp2.jpg">
						<figcaption class="media-body">
							<i>Impregnator assembly. </i>		
						</figcaption>
					</figure>
				</div>	
            </div>
		</tab>	
        <tab heading="Digesters">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Digesters</h4><br />
                <div class="col-xs-12 col-md-6 card-text">
					<p>Chemical leach and extracting processes in the minerals industry are performed in rotating spherical pressure vessels called Rotary Globe Digesters. In addition to ores, fine and long fiber paper, proteins, and fibrous material products are processed in these rotating pressure vessels.</p>
					<p>Reaction rates are enhanced by increased pressure and the unique blending and folding agitation that occurs in a rotating sphere. Low-grade ores are improved by the acid or caustic leaching of impurities from the ground material. In some cases, undesired materials are dissolved and removed in the liquid phase. Materials subject to size degradation or caking can be successfully blended and dried in a rotary globe vessel.</p>
					<p>McGill AirPressure supplies Rotary Globe Digesters in sizes up to 20 feet (6,100 mm) in diameter. Our Globe and Cylindrical Digesters offer the versatility of temperature, pressure, and mixing control and the reliability required to withstand hostile environments of simultaneously applied high temperature, high pressure, and acid/alkaline solutions.</p>
					<a href="assets/literature/digest.pdf" target="_blank">Digester Literature (Click)</a>
				</div>
				<div class="col-xs-12 col-md-6">
					<figure class="mcgill-picture">
						<img src="assets/img/ac-digest.jpg">
						<figcaption class="media-body">
							<i>Rotary Globe Digesters installed at a major chemical manufacturing facility.</i>
						</figcaption>
					</figure>
				</div>	
            </div>
		</tab>	
        <tab heading="Vulcanizing & Rubber">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Vulcanizing & Rubber Curing Autoclaves</h4><br />
                <div class="col-xs-12 col-md-6 card-text">
					<p>Widespread use of autoclaves occurs in the molding of rubber and plastics.</p>
					<p>In the curing process, elastomer product is placed in molds on forms, mandrels, or frames, and then subjected to steam pressure that causes the temperature to rise. This process continues until the temperature is high enough to bring about chemical and physical changes in the product that allow it to attain the desired degree of elasticity, strength, and hardness.</p>
					<p>McGill AirPressure is a world leader in the design, manufacture, and installation of such rubber curing systems.</p>
					<p>McGill AirPressure designs and builds some of the largest off-the-road tire heater presses in the world, including a press 240 inches in diameter that stands five stories high. Our custom designs, quality workmanship, and years of experience are available to meet your off-the-road tire manufacturing needs.</p>
					<a href="assets/literature/vulc.pdf" target="_blank">Vulcanizing Literature (Click)</a>
				</div>
				<div class="col-xs-12 col-md-6">
					<figure class="mcgill-picture">
						<img src="assets/img/ac-vulc.jpg">
						<figcaption class="media-body">
							<i>Vulcanizing Autoclave</i>
						</figcaption>
					</figure>
					<figure class="mcgill-picture">
						<img src="assets/img/ac-vulc2.jpg">
						<figcaption class="media-body">
							<i>Tire Press</i>		
						</figcaption>
					</figure>
				</div>	
            </div>
		</tab>
        <tab heading="Glass Laminating">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Glass Laminating Autoclaves</h4><br />
                <div class="col-xs-12 col-md-6 card-text">
					<p>Laminated glass, used for such applications as automobile and aircraft windshields, bulletproof glass, architectural glass, and solar receiver mirrors, consists of thin layers of plastic sandwiched between layers of glass. The hot pressurized air process McGill AirPressure developed for our glass laminating autoclave systems has become the standard for the automotive and architectural laminated safety glass industry.</p>
					<p>Our glass laminating autoclave systems are the most advanced method for uniformly bonding the glass and plastic surfaces together. Safety interlocking, alarming, and valve sequencing is carefully controlled via McGill AirPressure's Programmable Logic Controller. This state-of-the-art system offers two levels of input/output, either the PC based MAACS (McGill AirPressure Autoclave Control System) or a graphical operator interface. Both make autoclave control, status information, program setup, and alarm indication user-friendly for operators. The menu driven control screen displays system information, start/stop buttons for fan control, cycle start, cooling, and navigation buttons to additional screens. An additional benefit of our MAACS control system is that in the event of a computer problem (i.e., the PC is taken off-line), the autoclave remains operational, which allows your facility to continue production.</p>
					<p>We are dedicated to producing high quality, dependable equipment that is safe and easy to operate. Our comprehensive safety systems are designed to exceed current ASME code requirements. They include the manual lock safety, electro-pneumatic lock pin, emergency pressure relief vent, zero-pressure switch, alarm systems and whistles, and pressure gauge, all working together to help you safely operate the autoclave.</p>
					<p>Like our full-scale bonding autoclaves, our glass laminating autoclave systems are custom designed to meet each customer's processing requirements and particular climate conditions. Our engineering and manufacturing teams will work closely with you to provide the most economical and dependable glass laminating autoclave that can be built to meet the specific needs of your facility.</p>
					<p>McGill AirPressure has been designing and manufacturing glass laminating autoclave systems since 1960 and the American Society of Mechanical Engineers certifies our autoclaves.</p>
					<a href="assets/literature/glass.pdf" target="_blank">Glass Laminating Literature (Click)</a>
				</div>
				<div class="col-xs-12 col-md-6">
					<figure class="mcgill-picture">
						<img src="assets/img/ac-glass.jpg">
						<figcaption class="media-body">
							<i>McGill AirPressure's glass laminating autoclave systems are used to laminate many types of structural and safety glass such as the automobile windshields shown above.</i>
						</figcaption>
					</figure>
					<figure class="mcgill-picture">
						<img src="assets/img/picture2.jpg">
						<figcaption class="media-body">
							<i>McGill AirPressure's user-friendly autoclave control system is designed for ease of use and reliable performance. Logged data can be easily transferred to a PC by Ethernet or flash card.</i>		
						</figcaption>
					</figure>
					<figure class="mcgill-picture">
						<img src="assets/img/carlex.jpg">
					</figure>					
				</div>	
            </div>
		</tab>
	</tabset>
</div>