<div class="animated fadeIn">
	<app-jumbotron></app-jumbotron>
    <p></p>
	<div *ngIf="this.config.radioSelected == 'Autoclaves'" class="card card-block card-outline-primary ">
		<h4 class="card-title">McGill AirPressure (Autoclaves)</h4>
		<p class="card-text">Our pressure processing equipment is designed to be safe, dependable, and economical. We engineer and build autoclaves for processing materials in many industries, including aerospace, electronics, rubber, and glass. Our vacuum dryers are used extensively in the chemical and pharmaceutical industries. We offer complete maintenance and repair service to keep autoclaves and vacuum dryers performing as designed.</p>
	</div>
    <p></p>
	<div *ngIf="this.config.radioSelected == 'Vacuum Dryers'" class="card card-block card-outline-primary ">
		<h4 class="card-title">McGill AirPressure (Vacuum Dryers)</h4>
		<p class="card-text">Our vacuum dryers are used extensively in the chemical and pharmaceutical industries. We offer complete maintenance and repair service to keep autoclaves and vacuum dryers performing as designed. Our pressure processing equipment is designed to be safe, dependable, and economical. We engineer and build autoclaves for processing materials in many industries, including aerospace, electronics, rubber, and glass.</p>
	</div>
    <p></p>
	<div class="card card-block card-outline-success ">
        <div class="card-header card-success">
            <h4>News</h4>
        </div>
        <p></p>
		<h5 class="card-title">Heading for First Item</h5>
		<p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
        <a href="#" class="btn btn-success">Go somewhere</a>
	</div>
</div>