<div class="animated fadeIn">
    <tabset>
        <tab heading="Overview">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Replacement Parts & Gaskets</h4><br />
                <div class="col-xs-12 col-md-6 card-text">
                    <p>Even a simple problem, like a failed gasket, can shut down your production indefinitely, if the right replacement is not available.</p>
                    <p>To provide fast service, we stock gaskets for McGill AirPressure, United McGill, Biggs, and J.P. Devine pressure vessels. You can be back in production quickly because we ship gaskets within 24 hours. We provide replacement fan shafts, cooling glands, door hinges, and heating/cooling coils. Parts for McGill AirPressure, United McGill, Biggs, and J.P. Devine equipment are made to original specifications.</p>
					<p>For equipment from other suppliers, we have technical and manufacturing capability to fabricate parts that match original manufacturers' specifications.</p>
					<a href="assets/literature/parts.pdf" target="_blank">Replacement Parts & Gaskets Literature (Click)</a>
				</div>
				<div class="col-xs-12 col-md-6">
					<figure class="mcgill-picture">
						<img src="assets/img/ac-parts.jpg">
						<figcaption class="media-body">
							<i>Parts such as heating and cooling coils and fan motors are just a few of the many replacement parts we provide.</i>
						</figcaption>
					</figure>
				</div>	
            </div>
		</tab>
        <tab heading="Gaskets">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Autoclave Replacement Gaskets</h4><br />
                <div class="col-xs-12 col-md-6 card-text">
					<p>When your autoclave blows a gasket, production goes on hold. Unless you find a replacement fast, you lose time and money. McGill AirPressure gets you back on line fast by providing the replacement gasket you need when you need it.</p>
					<p><b>Available Immediately</b><br />We stock replacement gaskets for all types of pressure vessels manufactured by McGill AirPressure and United McGill, including Biggs autoclaves and J.P. Devine vacuum dryers. These are McGill AirPressure parts, made to McGill AirPressure specifications.</p>
					<p>With our in-house splicing machine, we cut and splice gaskets to fit your equipment. Don't wait until you've blown your last gasket. Keep a supply on hand to get your equipment back in operation as fast as possible.</p>
					<p><b>Technical Know-How</b><br />Use the chart below to find the gaskets you need. The chart shows standard gaskets in stock. If your type is not shown, we can arrange for custom tooling of an extrusion die and selection of a compound for your application.</p>
					<p>Let us help you choose the right gasket type, size, and material. We provide free installation instructions for all gaskets we carry.</p>
					<table cellpadding=5>
						<thead>
							<tr>
								<td>Gasket Cross Section</td>
								<td>Order Code</td>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td rowspan="3"><img src="assets/img/ac-g211.jpg"></td>
								<td>G211</td>
							</tr>
							<tr>
								<td>G212</td>
							</tr>
							<tr>
								<td>G213</td>
							</tr>
							<tr>
								<td><img src="assets/img/ac-g214.jpg"></td>
								<td>G214</td>
							</tr>
							<tr>
								<td><img src="assets/img/ac-g214.jpg"></td>
								<td>G214</td>
							</tr>
							<tr>
								<td><img src="assets/img/ac-g215.jpg"></td>
								<td>G215</td>
							</tr>
							<tr>
								<td><img src="assets/img/ac-g216.jpg"></td>
								<td>G216</td>
							</tr>
							<tr>
								<td><img src="assets/img/ac-g217.jpg"></td>
								<td>G217</td>
							</tr>
							<tr>
								<td><img src="assets/img/ac-g218.jpg"></td>
								<td>G218</td>
							</tr>
							<tr>
								<td><img src="assets/img/ac-g219.jpg"></td>
								<td>G219</td>
							</tr>
						</tbody>
					</table>				
				</div>
				<div class="col-xs-12 col-md-6">
					<figure class="mcgill-picture">
						<img src="assets/img/ac-gaskets.jpg">
						<figcaption class="media-body">
							<i>Parts such as heating and cooling coils and fan motors are just a few of the many replacement parts we provide.</i>
						</figcaption>
					</figure>
				</div>	
            </div>
		</tab>
        <tab heading="Parts">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Replacement Parts</h4><br />
                <div class="col-xs-12 col-md-6 card-text">
					<p><b>Fan Shafts</b><br />The fan shaft on an autoclave is subjected to stress from operation at high temperatures and wear from packing-type seal arrangements. We repair your existing fan shafts or provide your exact replacements to minimize downtime.</p>
					<p><b>Door Hinges</b><br />Years of constant operation take a toll on autoclave doors. Door weight puts tremendous stress on the hinge, causing misalignment and preventing proper sealing.</p>
					<p>We replace your damaged hinge with a newer, more durable design. Upgrading your equipment with one of these hinges can speed up your production by reducing door alignment problems.</p>
					<p><b>Heating/Cooling Coils</b><br />Constant thermal cycling of heating and cooling coils in an autoclave over years leads to eventual failure and leaks, which can ruin an expensive load of product. We will provide replacement coils as part of your preventive maintenance cycle when you periodically check the autoclave's coils for damage and/or wear.</p>
				</div>
				<div class="col-xs-12 col-md-6">
					<figure class="mcgill-picture">
						<img src="assets/img/ac-parts1.jpg">
						<figcaption class="media-body">
							<i>Replacement fan shafts are manufactured to original specifications.</i>
						</figcaption>
					</figure>
					<figure class="mcgill-picture">
						<img src="assets/img/ac-parts2.jpg">
						<figcaption class="media-body">
							<i>We get you back into production quickly by replacing damaged hinges with newer ones of more durable design.</i>
						</figcaption>
					</figure>
					<figure class="mcgill-picture">
						<img src="assets/img/ac-parts3.jpg">
						<figcaption class="media-body">
							<i>Replacement heat exchangers and cooling coils are manufactured at our plant.</i>
						</figcaption>
					</figure>
				</div>	
            </div>
		</tab>
	</tabset>
</div>