<div class="animated fadeIn">
  <div class="card card-block card-outline-primary ">
		<h4 class="card-title">Customers</h4>
		<p class="card-text">McGill AirPressure takes pride in designing and manufacturing high-quality autoclaves for its many customers. The following is a select sample of our growing list of autoclave customers. (Please contact us for a complete customer list.)</p>
    <hr>
  		<div class="col-sm-6 col-md-4 p-1">
				<div class="text-xs-left">
          <b>Partial customer list:</b>
          <ul>
              <li>American Airlines</li>
              <li>Boeing</li>
              <li>Caterpillar</li>
              <li>DuPont</li>
              <li>General Electric</li>
              <li>Lockheed Martin</li>
              <li>Sikorsky Aircraft</li>
              <li>United Defense</li>
          </ul>
				</div>
			</div>
  </div>
</div>